{% extends 'base.html' %}

{% block page_title %}{{ page_name|capfirst }}{% endblock %}

{% block content %}
    <h1>Welcome to PySite!</h1>
    <p>
        PySite is a dynamic software development company dedicated to delivering cutting-edge digital solutions. We
        specialize in creating robust, scalable, and high-performance applications tailored to meet the unique needs of
        businesses. Whether it's web development, mobile apps, or enterprise software, PySite leverages the latest
        technologies to drive innovation and efficiency. Our team of expert developers, designers, and engineers is
        committed to transforming ideas into reality, ensuring seamless user experiences and reliable software
        solutions. Partner with PySite to build the future of technology!
    </p>
{% endblock %}